{% extends 'access/home.html' %}

{% block title%}Giỏ hàng{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Giỏ Hàng</h1>
        
        <div class="dropdown dropright">
            <button class="btn-dropdown dropdown-toggle" data-toggle="dropdown">
              Menu 1
            </button>
            <div class="dropdown-menu drop-menu">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </div>
          <div class="
    </div>
{% endblock body %}