.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 500px;
 }

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

.sidebar {
    height: 300px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 55px;
    background-color: lightblue;
    }
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    
.body-text {
    margin-left: 150px;
    font-size: 18px;
    }

.btn-dropdown{
    background-color: lightblue;
    color: black;
    text-transform: uppercase;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.drop-mennu{
    background-color: green;
}

.drop-item{
    background-color: lightblue;
}

.nav-verical{
    background-color: lightblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }